#synthea
synthea-with-dependencies.jar

# Folders to be ignored
LatexTests
output
site-packages
Scripts
etc
share
include


# Unwanted latex build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc